<form class="form-horizontal" action='/users' method ='post'>

 <div class="form-group form-group-lg">
    <label for=name class="col-sm-2 col-form-label">List's Name : </label>
    <div class="col-sm-5">
    <input type="password" class="form-control" name="list[name]" placeholder="list's name"></div>
  </div>
   <div class="form-group form-group-lg">
    <div class="col-sm-2 col-form-label">
    </div>
  <div class="col-sm-5">
  <input type="submit" class="form-control" name="login" class="btn btn-info" value="Enter a new list"></div>
</div>
</form>
